<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farm.name %></title>
</head>
<body>
    <h1><%= farm.name %></h1>
    <h2>Other Details: </h2>
    <ul>
        <li>City: Rs. <%= farm.city %></li>
        <li>Email: <%= farm.email %></li>
    </ul>
    <br>
    <h2>Products Available</h2>
    <ul>
        <% for(let product of farm.products) {%>
            <li><a href="/product/id/<%= product.id  %> "><%= product.name %></a></li>
        <% } %> 

    </ul>
    <p>
        <a href="/farms">Show All Farms Details</a>
        <a href="/farms/<%= farm.id %>/products/new">Add New Product</a>
        <form action="/farms/<%= farm.id %>?_method=DELETE" method="POST">
            <button>Delete Farm</button>
        </form>
    </p>
</body>
</html>